.repoDetailsContainer {
  width: 600px;
  height: 100%;
  background-color: #eaf6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: #dfdfdf;
}
